<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="NorthwindConnectionString" 
			connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\northwind.mdf;Integrated Security=True;User Instance=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		
    <compilation debug="true">
      
      <expressionBuilders>
        <add expressionPrefix="Themes" type="ThemesExpressionBuilder"/>
      </expressionBuilders>
      
    </compilation>
    
	<authentication mode="Windows"/>

    <!-- Use any of the following values for the styleSheetTheme attribute: "Fruits", "Forest", "Literature".-->
    <pages styleSheetTheme="Fruits">
    <namespaces>
      <clear />
      <add namespace="System" />
      <add namespace="System.Collections" />
      <add namespace="System.Collections.Specialized" />
      <add namespace="System.Configuration" />
      <add namespace="System.Text" />
      <add namespace="System.Text.RegularExpressions" />
      <add namespace="System.Web" />
      <add namespace="System.Web.Caching" />
      <add namespace="System.Web.SessionState" />
      <add namespace="System.Web.Security" />
      <add namespace="System.Web.Profile" />
      <add namespace="System.Web.UI" />
      <add namespace="System.Web.UI.WebControls" />
      <add namespace="System.Web.UI.WebControls.WebParts" />
      <add namespace="System.Web.UI.HtmlControls" />
    </namespaces>
    </pages>
	</system.web>
</configuration>
