#bottomShadow {margin-bottom:-8px;}
.rightColumn, .leftColumn {padding: 2em 0;}.rightColumn, .leftColumn {padding: 2em 0;}
#contactForm {height:1%}
#copy ul {padding-left:2em;} 
#copy li {padding-left:1em;}
#menu .subMenuNormal {border:none;}
#menu .subMenuHover {border:1px solid #1CCD1A;}

